@model IEnumerable<ShopTARge23.Models.RealEstates.RealEstateIndexViewModel>

@{
    int rowNumber = 1;
}

<div>
    <a asp-action="create" asp-controller="RealEstate" type="submit" class="btn btn-primary">Create</a>
</div>

<div class="h1">
    Real Estate
</div>
<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Size</th>
                <th scope="col">Location</th>
                <th scope="col">Room Number</th>
                <th scope="col">Building Type</th>
                <th scope="col">Created At</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var realEstate in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@realEstate.Size</td>
                    <td>@realEstate.Location</td>
                    <td>@realEstate.RoomNumber</td>
                    <td>@realEstate.BuildingType</td>
                    <td>@realEstate.CreatedAt</td>

                    <td>
                        <a asp-action="details" asp-controller="RealEstate" asp-route-id="@realEstate.Id" class="btn btn-info">Details</a>
                        <a asp-action="update" asp-controller="RealEstate" asp-route-id="@realEstate.Id" class="btn btn-primary">Update</a>
                        <a asp-action="delete" asp-controller="RealEstate" asp-route-id="@realEstate.Id" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>

                rowNumber += 1;
            }
        </tbody>
    </table>
</form>
